.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
}

.skill-group {
  margin-right: 18px;
  width: 34rem;
}

.left-col {
  padding: 0 0 0 12px;
}

.right-col {
  padding: 0 12px 0 0;
}

@media only screen and (max-width: 600px) {
  .skill-group {
    width: 100%;
  }
  .left-col,
  .right-col {
    padding: 0 12px;
  }
  .list-group .list-group-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}

@media only screen and (max-width: 1200px) {
  .skills {
    flex-direction: column;
  }
  .skill-group-1 {
    margin-right: 0;
    margin-bottom: 18px;
  }
}
