.about-header {
  color: #fff;
}

.about-info {
  color: #fff;
}

.about-highlight {
  display: inline-block;
  color: #fca311;
}

.resume-button {
  background-color: #fca311;
  border-color: #fca311;
  color: #000;
  margin-top: 1rem;
}

.resume-button:hover,
.resume-button:focus,
.resume-button:active {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000;
}

.col-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .about-header {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .profile-photo {
    max-width: 50%;
  }
}
