.navLink {
  color: #ffffff !important;
  margin: 0 1rem;
}
.navbar-links {
  display: flex;
  justify-self: flex-start !important;
}
.navbar-logo {
  display: flex;
  height: 2.5rem;
  width: auto;
  justify-self: center !important;
}
.navbar-social {
  display: flex;
  justify-self: flex-end !important;
}

@media only screen and (max-width: 992px) {
  .navbar-logo {
    display: none;
  }
  .navbar-links {
    flex-direction: column;
  }
}
