.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25;
  height: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-modal-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.project-modal-skills {
  margin-bottom: 15px;
}

.project-modal-skill {
  margin-right: 5px;
}

.project-modal-buttons {
  display: flex;
}

.project-modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  background-color: #000000;
}
